<section class="card card-rounded blog-list">
    <a href="/blog/{{id}}">
        <div class="card-header display-flex justify-space-between align-center">
            <h2>{{title}}</h2>
            <div>Posted by {{user.username}} on {{format_date date_created}}</div>
        </div>
        <div class="card-body">
            <div>{{content}}</div>
        </div>
    </a>
</section>